body {
    background-color: PapayaWhip;
    font-family: "Courier New", monospace;
}

h1 {
    color: RosyBrown;
    text-align: left;
    font-family: "Courier New", monospace;

}

h2 {
    font-family: "Courier New", monospace;
    color: Sienna;


}

h3 {
    font-family: "Courier New", monospace;
    color: Peru;
    text-indent: 2em;


}


p {
    font-family: "Courier New", monospace;
    font-size: 20px;
    color: Peru;
    text-indent: 3em;

}

a:link {
    color: Sienna;

}

a:visited {
    color: Indian Red;

}

a:hover {
    color: DarkOliveGreen;

}

a:active {
    color: Olive;

}

.topnav {
    overflow: hidden;
    background-color: Peru;
}

.topnav a {
    float: left;
    color: White;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: SaddleBrown;
    color: SeaShell;
}

.topnav a.active {
    background-color: Wheat;
    color: DimGrey;
}

section {
    display: flex;
    flex-direction: column;
}

article {
    padding: 0 2em;
}

ul {
    font-family: "Courier New", monospace;
    font-size: 20px;
    color: RosyBrown;
      text-indent: 4em;

}
