body {
  background-color: PapayaWhip;
}

h1 {
  color: RosyBrown;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: RosyBrown;
}

a:link {
    color: Lavender;
    
}

a:visited {
    color: LavenderBlush;
    
}

a:hover {
    color: LemonChiffon;
    
}

a:active {
    color: LightCyan;
    
}