body {
  background-color: PapayaWhip;
}

h1 {
  color: RosyBrown;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: RosyBrown;
}

a:link {
    color: BurlyWood;
    
}

a:visited {
    color: DarkGoldenRod;
    
}

a:hover {
    color: DarkSalmon;
    
}

a:active {
    color: Olive;
    
}